.statistics {
display: block;
width: 450px;
background-color: rgb(162, 152, 226);
margin: 0;
padding: 0;
margin-bottom: 60px;
box-shadow: 3px 4px 20px rgb(80 55 20);
border-radius: 15px;
}

.title {
text-align: center;
font-size: 40px;
color: rgb(40, 27, 49);
text-shadow: 2px 2px 5px rgb(133, 80, 126)
}

.list {
display: flex;
list-style: none;
height: 150px;
margin: 0;
padding: 0;
}

.item {
display: flex;
flex-direction: column;
justify-content: center;
width: 120px;
margin: 0;
text-align: center;
border-radius: 9px;
color: rgb(40, 27, 49);
text-shadow: 2px 2px 5px rgb(133, 80, 126)
}

.label {
font-size: 20px;
font-weight: bold;
}

.percentage {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: rgb(40, 27, 49);
    text-shadow: 2px 2px 5px rgb(133, 80, 126)
}